In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# load the data

train_df = pd.read_csv('Data/titanic_train.csv')
eval_df = pd.read_csv('Data/titanic_test.csv')

In [3]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
eval_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
#let us fill age with mean

# Calculate the mean of the "age" column
age_mean = train_df["Age"].mean()

# Fill missing values in the "age" column with the mean
train_df["Age"].fillna(age_mean, inplace=True)

In [ ]:
#let us drop cabin column as it have more null values

train_df = train_df.drop(['Cabin'], axis=1)

In [16]:
#let us fill Embarked with mode of the data

embarked_mode = train_df['Embarked'].mode()[0]

train_df['Embarked'].fillna(embarked_mode, inplace=True)

In [17]:
train_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [18]:
eval_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [19]:
#let us drop cabin column as it have more null values

eval_df = eval_df.drop(['Cabin'], axis=1)

#let us fill age with mean

# Calculate the mean of the "age" column
age_mean = eval_df["Age"].mean()

# Fill missing values in the "age" column with the mean
eval_df["Age"].fillna(age_mean, inplace=True)

#let us fill Fare with mean

# Calculate the mean of the "age" column
fare_mean = eval_df["Fare"].mean()

# Fill missing values in the "age" column with the mean
eval_df["Fare"].fillna(fare_mean, inplace=True)

In [22]:
eval_df.Embarked.unique()

array(['Q', 'S', 'C'], dtype=object)

In [23]:
#i will drop name column and map gender and embarked

train_df = train_df.drop(['Name'], axis=1)

eval_df = eval_df.drop(['Name'], axis=1)

#mapping

train_df['Sex'] = train_df['Sex'].map({'male' : 0, 'female': 1})

train_df['Embarked'] = train_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

eval_df['Sex'] = eval_df['Sex'].map({'male' : 0, 'female': 1})

eval_df['Embarked'] = eval_df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})

#drop ticket column as well

train_df = train_df.drop(['Ticket'], axis=1)
eval_df = eval_df.drop(['Ticket'], axis=1)

In [24]:
eval_df.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

### Splitting the Data

In [26]:
x = train_df.drop(['Survived'], axis=1)
y = train_df['Survived']

In [27]:
x = np.array(x, dtype=float)
y = np.array(y, dtype=float)

In [28]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 12345)

In [29]:
x_train.shape

(712, 8)

In [30]:
x_test.shape

(179, 8)

### Defining the Model

In [31]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Input

2023-05-03 15:11:08.576468: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [32]:
model_bc = Sequential()
model_bc.add(Dense(40, activation='relu', input_shape=(8,)))
model_bc.add(Dense(10, activation='relu'))
model_bc.add(Dense(1, activation='sigmoid'))

In [33]:
model_bc.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model_bc.fit(x_train, y_train, epochs=10, batch_size=128, validation_split=0.2)

Epoch 1/10
5/5 [==============================] - 8s 370ms/step - loss: 4.3481 - accuracy: 0.4622 - val_loss: 4.1895 - val_accuracy: 0.2587
Epoch 2/10
5/5 [==============================] - 0s 40ms/step - loss: 3.0111 - accuracy: 0.3937 - val_loss: 3.1294 - val_accuracy: 0.4685
Epoch 3/10
5/5 [==============================] - 0s 45ms/step - loss: 2.7138 - accuracy: 0.5202 - val_loss: 2.6340 - val_accuracy: 0.3217
Epoch 4/10
5/5 [==============================] - 0s 28ms/step - loss: 2.2286 - accuracy: 0.3849 - val_loss: 2.0051 - val_accuracy: 0.4336
Epoch 5/10
5/5 [==============================] - 0s 26ms/step - loss: 1.8861 - accuracy: 0.5167 - val_loss: 1.5068 - val_accuracy: 0.4965
Epoch 6/10
5/5 [==============================] - 0s 37ms/step - loss: 1.5666 - accuracy: 0.4903 - val_loss: 1.2222 - val_accuracy: 0.5245
Epoch 7/10
5/5 [==============================] - 0s 38ms/step - loss: 1.2990 - accuracy: 0.5518 - val_loss: 0.9611 - val_accuracy: 0.6503
Epoch 8/10
5/5 [==============================] - 0s 75ms/step - loss: 1.1609 - accuracy: 0.5641 - val_loss: 0.8502 - val_accuracy: 0.5874
Epoch 9/10
5/5 [==============================] - 0s 32ms/step - loss: 1.0241 - accuracy: 0.5518 - val_loss: 0.7360 - val_accuracy: 0.6923
Epoch 10/10
5/5 [==============================] - 0s 51ms/step - loss: 0.8915 - accuracy: 0.6151 - val_loss: 0.6676 - val_accuracy: 0.6923

In [34]:
#Evaluating the model
test_loss, test_acc = model_bc.evaluate(x_test,  y_test, verbose=2)

6/6 - 0s - loss: 0.7633 - accuracy: 0.5866 - 92ms/epoch - 15ms/step

In [35]:
print('Test loss is ',test_loss)
print('Test Accuracy is ',test_acc)

Test loss is  0.7633152008056641
Test Accuracy is  0.5865921974182129

### Predicting the Eval_df Data

In [36]:
# prediction of new
x_pred = eval_df

x_pred = np.array(x_pred, dtype=float)

pred_proba = model_bc.predict(x_pred)

pred = []

for proba in pred_proba:
    if proba>=0.5:
        pred.append(1)
    else:
        pred.append(0)

14/14 [==============================] - 1s 8ms/step

In [41]:
from sklearn.metrics import classification_report

cls = classification_report(y_test, pred[:179])
print(cls)

              precision    recall  f1-score   support

         0.0       0.60      0.88      0.71       105
         1.0       0.50      0.18      0.26        74

    accuracy                           0.59       179
   macro avg       0.55      0.53      0.49       179
weighted avg       0.56      0.59      0.53       179